<div class="text-center py-10">
  <h1 class="title-decorator inline-block text-left">
    <%= t("verify_wo_registration.form.title") %>
  </h1>
</div>
  <p><%= t("verify_wo_registration.form.description") %></p>
  <%= cell("decidim/announcement", { announcement: t("verify_wo_registration.form.announcement", minutes: ::Decidim::ImpersonationLog::SESSION_TIME_IN_MINUTES), callout_class: "warning" }) %>

  <%= decidim_form_for(@form, url: verifications_path) do |form| %>
    <%= render partial: "form", object: form %>
    <%= form.hidden_field :component_id %>
    <%= form.hidden_field :redirect_url %>
    <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
      <button type="submit" class="button button__sm md:button__lg button__secondary">
        <%= t("verify_wo_registration.form.submit_btn") %>
        <%= icon "arrow-right-line", class: "fill-current" %>
      </button>
    </div>
<% end %>
